/*
!/.gitignore
!/.gitattributes
__pycache__

/.config/*
!/.config/
!/.config/alacritty/
#!/.config/eww/
!/.config/fontconfig/
!/.config/nvim/
!/.config/picom/
!/.config/qtile/
!/.config/ranger/
!/.config/rofi/
!/.config/shell/

/.config/cava/*
!/.config/cava/
!/.config/cava/config

!/.config/starship.toml

!/.scripts/

#/.local/*
#/.local/share/*
#!/.local/
#!/.local/share/
#!/.local/share/fonts/
#!/.local/share/icons/

!/.bash_profile
!/.bashrc
!/.vimrc
!/.xinitrc
!/.Xresources
!/.zprofile
!/.zshrc

!/aur-ls
!/pacman-ls
!/manual-ls
