/*
!.gitignore
!.gitattributes
__pycache__

.config/*
!.config/
!.config/alacritty/
# !.config/eww/
!.config/nvim/
!.config/picom/
!.config/qtile/
!.config/ranger/
!.config/rofi/
!.config/shell/

.config/cava/*
!.config/cava/
!.config/cava/config

!.scripts/

.local/*
.local/share/*
!.local/
!.local/share/
!.local/share/fonts/
!.local/share/icons/

!.bash_profile
!.bashrc
!.vimrc
!.xinitrc
!.zprofile
!.zshrc

!aur-ls
!pacman-ls
